
:root {
    --color: #a88c44;
    --color-icon: white;
    --bg-color-t: rgb(168, 140, 68, .5);
    --bg-color: red;
    --bg-header: white;
    --bg-nav: rgb(40, 36, 36);
    --bg-nav-t: rgb(40, 36, 36, .5);
}

/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out .35s;
}

html {
    height: 100%;
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
}

/* hero */
.hero {
    background: url(../img/hero.jpg) center;
    background-size: cover;
    height: 100vh;
}

/* social media icons */
section.social-media-icons {
    width: 100%;
    height: 20px;
    background-color: var(--color);
}

section.social-media-icons .social-media-wrap {
    padding: 0 4em;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

section.social-media-icons .social-media-wrap a {
    margin: 0 .5em;
    color: var(--color-icon);
    font-size: 1.4rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */
header.main-header {
    width: 100%;
    background-color: var(--bg-header);
    position: sticky;
    top: 0;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
}

.header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4em;
    padding: 1em 0;
}

.wrap-logo-header {
    display: flex;
    align-items: center;
}

/* img */
.logo-img-header {
    width: 7em;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.logo-img-header img {
    width: 100%;
    height: 100%;
}

.logo-name-header {
    width: 24em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.logo-name-header img {
    width: 100%;
    height: 70%;
}

/* nav */
.wrap-nav-header {
    display: flex;
    /* margin-left: 2em; */
}

.nav-header {
    display: flex;
    align-items: center;
    width: 100%;
}

ul.main-menu {
    display: flex;
    width: 100%;
    /* margin: 0;
    padding: 0; */
    justify-content: space-between;
}

li.menu-item {
    margin: 0 .4em;
    display: inline-block;
}

li.menu-item a {
    color: var(--color);
    text-decoration: none;
    transition: all ease-in-out .4s;
    font-weight: 400;
    font-size: 1.5rem;
}

/* li.menu-item a:hover {

} */

/* menú */
label.btn-check {
    display: none;
}

.overlay-menu {
    display: none;
}

input#check-menu {
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-wrap {
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }
    ul.main-menu {
        margin-top: 1em;
    }
    .logo-name-header {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 768px) {
    /* íconos de redes sociales */
    section.social-media-icons .social-media-wrap {
        padding: 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    section.social-media-icons .social-media-wrap a {
        font-size: 1rem;
    }

    /* header -- */
    .header-wrap {
        flex-flow: row;
        margin: 0;
        padding: 1em 2em;
        display: flex;
        justify-content:  space-between;
        align-items: center;
    }
    ul.main-menu {
        display: flex;
        flex-flow: column;
        justify-content: start;
        width: 60%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--bg-nav);
        margin-top: 0;
    }
    label.btn-check {
        cursor: pointer;
        display: flex;
        font-size: 2rem;
    }

    #check-menu:checked ~ ul {
        display: flex;
        flex-flow: column;
        justify-content: start;
        height: 100%;
        width: 60%;
        top: 0;
        left: 0;
    }
    
}
@media (max-width: 480px) {
    .header-wrap {
        margin: 0;
        padding: 1em 1em;
        display: flex;
        justify-content:  space-between;
        align-items: center;
    }
    .logo-img-header {
        width: 5em;
        height: 5em;
    }

    .logo-name-header {
        width: 13em;
        height: 4.2em;
    }
}