
:root {
    --color: #a88c44;
    --color-icon: white;
    --bg-color-t: rgb(168, 140, 68, .5);
    --bg-color: red;
    --bg-header: white;
    --bg-nav: rgb(40, 36, 36);
    --bg-nav-t: rgb(40, 36, 36, .5);
}

/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* transition: all ease-in-out .35s; */
}

html {
    height: 100%;
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
}

/* hero */
.hero {
    background: url(../img/hero.jpg) center;
    background-size: cover;
    height: 100vh;
}

/* social media icons */
section.social-media-icons {
    width: 100%;
    height: 20px;
    background-color: var(--color);
}

section.social-media-icons .social-media-wrap {
    padding: 0 4em;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

section.social-media-icons .social-media-wrap a {
    margin: 0 .5em;
    color: var(--color-icon);
    font-size: 1.4rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */
header.main-header {
    width: 100%;
    background-color: var(--bg-header);
    position: sticky;
    top: 0;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
}

.header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4em;
    padding: 1em 0;
}

.wrap-logo-header {
    display: flex;
    align-items: center;
}

/* img */
.logo-img-header {
    width: 7em;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.logo-img-header img {
    width: 100%;
    height: 100%;
}

.logo-name-header {
    width: 24em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.logo-name-header img {
    width: 100%;
    height: 70%;
}

/* nav */
.wrap-nav-header {
    display: flex;
    /* margin-left: 2em; */
}

.nav-header {
    display: flex;
    align-items: center;
    width: 100%;
}

ul.main-menu {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
 
    /* justify-content: space-between; */
}

li.menu-item {
    /* margin: 0 .4em; */
    display: inline-block;
    cursor: pointer;
}

li.menu-item a {
    color: var(--color);
    text-decoration: none;
    /* transition: all ease-in-out .4s; */
    font-weight: 400;
    font-size: 1.5rem;
}

/* li.menu-item a:hover {

} */

/* menú */
label.btn-check {
    display: none;
}

.overlay-menu {
    display: none;
}

input#check-menu {
    display: none;
}


.layer_main_menu{
    width: 100%;
    height: 100%;
    left: -100%;
    /* left: 0; */
    top: 0;
    transition: all ease-in-out 0.5s;
}

.btn_close{
    display:none;
    cursor: pointer;
}

.activeMenu {
    left: 0;
}



/* footer*/

.main-footer{
    font-size: 1.2em;
}

.footer-wrap{
    padding: 1em 2em;
}

.footer-column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;   
    width: 30%;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    gap: 1em;
}

.redes p{
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 2px solid var(--color);
    padding-bottom: 0.2em;
    padding-right: 1em;
 }

 .redes .contacts{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    gap: 1.5em;
 }

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    width: 30%;
}

.information p{
   font-size: 1.1em;
   font-weight: bold;
   border-bottom: 2px solid var(--color);
   padding-bottom: 0.2em;
   padding-right: 1em;
}

.information .contacts{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.copyrigth{
    background: var(--color);
    display: flex;
    justify-content: center;
    padding: 1em;
    color: white;
    font-size: 1.4em;
    text-align: center;
}

/* @media (max-width: 768px) { */
    @media (max-width: 900px) {


    .layer_main_menu{
        background-color: #00000080;
        position: fixed;
    }
        

    ul.main-menu {
        flex-flow: column;
        gap: 0;
        justify-content: start;
        width: 60%;
        height: 100%;
        background-color: var(--bg-nav);
        margin-top: 0;
        overflow: auto;
    }

    ul.main-menu li {
        padding: 1em;
        border-bottom: 1px solid #b8b4b44a;
        display: inline-block;
    }

    .btn_close{
        display:inline-block;
        color: white;
        font-size: 1.5em;
        background: #212020;
    }

    label.btn-check {
        cursor: pointer;
        display: flex;
        font-size: 2rem;
    }


    .footer-wrap{
        flex-direction: column;
        gap: 1em;
    }

    .footer-column1, .redes, .information{
        width: 100%;
    }


    .menu-item:hover{
        border-bottom: 1px solid white;
        /* transition: all ease-in-out 0.3s; */
    }

 
    
}


@media (max-width: 480px) {
    .header-wrap {
        margin: 0;
        padding: 1em 1em;
        display: flex;
        justify-content:  space-between;
        align-items: center;
    }
    .logo-img-header {
        width: 5em;
        height: 5em;
    }

    .logo-name-header {
        width: 13em;
        height: 4.2em;
    }
}



